/* ==================================================
    BLOG
================================================== */

.blog {
    text-align: left;
    margin-bottom: 5em;
}

.blog__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.3em;
}

.blog__list-item {
    margin: 0.5em 0;
    width: 100%;
}

.blog__list-item-content {
    display: flex;
}

.blog__list-item-date {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8em;
}

@media (max-width: 600px) {
    .blog__list {
        font-size: 1em;
    }
}
