/* ==================================================
    BLOG
================================================== */

.content-container {
    display: inline-block;
    padding: 0 2em;
    max-width: 800px;
    min-width: 800px;
}

.blog {
    text-align: left;
}

.blog__list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.3em;
}

.blog__list-item {
    width: 100%;
}

.blog__list-item-content {
    display: flex;
}

.blog__list-item-date {
    flex: 2;
}

.blog__list-item-link {
    flex: 6;
}

@media (max-width: 900px) {
    .content-container {
        min-width: initial;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .content-container {
        padding: 0 0.5em;
    }

    .blog__list {
        font-size: 1em;
    }

    .blog__list-item-link {
        flex: 5;
    }
}
