/* ==================================================
    NAVIGATION
================================================== */

.nav__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__list-item {
    margin: 0 0.5em;
}

.nav__link {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: currentColor;
}

@media (max-width: 600px) {
    .nav__list {
        margin: 0 0 20px;
    }

    .nav__link {
        font-size: 1em;
    }
}
