/* ==================================================
    INDEX
================================================== */

.social__list {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.social__list-item {
    margin: 0 20px;
}

.social__icon {
    width: 3em;
    height: 3em;
    fill: #444444;
}

.social__icon:hover {
    fill: #222222;
}

.social__icon--twitter {
    width: 2.5em;
}

.social__icon--linkedin {
    width: 2em;
}

@media (max-width: 600px) {
    .social__list {
        margin: 0 0 20px;
    }

    .social__icon {
        width: 2em;
    }

    .social__icon--twitter {
        width: 1.5em;
    }

    .social__icon--linkedin {
        width: 1em;
    }

    .social__icon--medium {
        width: 1.5em;
    }
}

