/* ==================================================
    HEADER
================================================== */

.social__list {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.social__list-item {
    margin: 0 20px;
}

.social__icon {
    width: 3rem;
    height: 3rem;
    fill: #444444;
}

.social__icon:hover {
    fill: #222222;
}

.social__icon--twitter {
    width: 2.5rem;
}

.social__icon--linkedin {
    width: 2rem;
}

.nav__list {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.nav__list-item {
    margin: 0 0.5rem;
}

.nav__link {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
}

.nav__link:hover {
    text-decoration: underline;
}
