/* ==================================================
    HEADER
================================================== */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 20px;
}

.left {
  flex: 3;
  margin: 0;
}

.middle {
  flex: 10;
}

.right {
  flex: 3;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 10px;
  }

  .left,
  .right {
    flex: 5;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 1em;
  }

  .left {
    margin-bottom: 1em;
  }

  .right {
    margin-top: 1em;
  }
}
