.container {
  padding: 2em 0;
  font-size: 0.8em;
  background-color: #222222;
  border-top: 1px dotted #b1b1b1;
  color: #a5a5a5;
}

.copywrite {
  margin-top: 1em;
}

@media (max-width: 600px) {
  .container {
    padding: 1em 0;
  }
}
