/* ==================================================
    FOOTER
================================================== */

.footer {
  padding: 2em 0;
  font-size: 0.8em;
  background-color: #222222;
  border-top: 1px dotted #b1b1b1;
  color: #a5a5a5;
}

.footer__copywrite {
  margin-top: 1em;
}

.footer__copywrite-link {
  color: #a5a5a5;
}

@media (max-width: 600px) {
  .footer {
    padding: 1em 0;
  }
}
