/* ==================================================
    FOOTER
================================================== */

.footer {
    padding: 2em 0;
    font-size: 0.8em;
    background-color: #222222;
    border-top: 1px dotted #B1B1B1;
    color: #A5A5A5;
}

.footer__copywrite {
    margin-top: 1em;
}

.footer__copywrite-link {
    color: #A5A5A5;
}
