/* ==================================================
    SIGNUP FORM
================================================== */

.signup-form {
  display: inline-block;
  margin: 1em 0;
  border: solid 1px #222222;
}

.signup-form__input {
  display: inline-block;
  padding: 1em;
  width: 450px;
  border: none;
}

.signup-form__button {
  display: inline-block;
  padding: 1em;
  text-transform: uppercase;
  border: none;
  background-color: #222222;
  font-weight: bold;
  color: #ffffff;
}

.signup-form__hidden-input {
  position: absolute;
  left: -5000px;
}

@media (max-width: 900px) {
  .signup-form {
    display: flex;
  }

  .signup-form__input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .signup-form {
    flex-direction: column;
  }

  .signup-form__input {
    box-sizing: border-box;
  }
}
