/* ==================================================
    ICONS
================================================== */

.icon {
  width: 3em;
  height: 3em;
  fill: #444444;
}

.icon:hover {
  fill: #222222;
}

.icon--twitter {
  width: 2.5em;
}

.icon--linkedin {
  width: 2em;
}

@media (max-width: 900px) {
  .icon {
    height: 2.5em;
    width: 2.5em;
  }

  .icon--twitter {
    width: 2em;
  }

  .icon--linkedin {
    width: 1.5em;
  }

  .icon--medium {
    width: 2em;
  }
}
