/* ==================================================
    MAIN
================================================== */

html {
    background-color: #EAEAEA;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #222222;
}

.content-container {
    padding: 0 20px;
}

.title {
    font-size: 5rem;
}

.paragraph {
    font-size: 2rem;
}

/* === JUICER === */

.juicer-feed {
    margin: auto;
    max-width: 800px;
}

.feed-item.juicer.image-post {
    display: none;
}

@media (max-width: 900px) {
    .title {
        font-size: 3.5rem;
    }

    .paragraph {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }

    .paragraph {
        font-size: 1rem;
    }
}
