/* ==================================================
    MAIN
================================================== */

html {
    background-color: #EAEAEA;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #222222;
}

.content-container {
    padding: 0 20px;
}

.title {
    font-size: 5rem;
}

.paragraph {
    font-size: 2rem;
}

.social__list {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.social__list-item {
    margin: 0 20px;
}

.social__icon {
    width: 3rem;
    height: 3rem;
    fill: #444444;
}

.social__icon:hover {
    fill: #222222;
}

.social__icon--twitter {
    width: 2.5rem;
}

.social__icon--linkedin {
    width: 2rem;
}

/* === JUICER === */

.juicer-feed {
    margin: auto;
    max-width: 800px;
}

.feed-item.juicer.image-post {
    display: none;
}

@media (max-width: 900px) {
    .title {
        font-size: 3.5rem;
    }

    .paragraph {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .social__icon {
        width: 2rem;
    }

    .social__icon--twitter {
        width: 1.5rem;
    }

    .social__icon--linkedin {
        width: 1rem;
    }

    .social__icon--medium {
        width: 1.5rem;
    }
}
